@import "normalize";
@import "nprogress";

@import "fontstyle";
@import "globals";
@import "salvattore";

@import "lighttheme";

body{
  background-color: $body-background;
  font-family: 'Muli', sans-serif;
  font-size: 16px;
}

#nprogress .bar {
  background-color: $red;
  height: 3px;
}
#nprogress .spinner-icon {
  border-top-color: $red;
  border-left-color: $red;
}





