@import "../styles/globals.scss";

.tile {
  @include defaulttransition();

  display: block;
  position: relative;
  min-width: 100px;
  min-height: 200px;
  margin: 5px 30px 50px;
  overflow: hidden;
  border: 1px solid transparent;

  &.loading {
    min-height: 200px;
  }

  a.overlay {
    z-index: 10;
    position: absolute;
    width: 100%;
    height: calc(100% - 40px);
  }

  .tile-image {
    overflow: hidden;
  }

  img {
    border-radius: $border-radius;
    width: 100%;
  }

  img[lazy=loaded] {
    width: 100%;
    opacity: 1;
  }

  img[lazy=loading] {
    margin: 100px auto;
    width: 10%;
    opacity: 0.6;
  }

  img[lazy=error] {
    display: none;
  }

  header {
    @include defaulttransition();

    text-align: left;
    margin: 15px 0;

    .title-holder {
      max-height: 64px;
      overflow: hidden;
      margin-bottom: 10px;
    }

    .title {
      line-height: 1.2;
      @include defaulttransition();
      text-decoration: none;
      letter-spacing: 0;
      font-family: $heading-font-family;
      font-weight: 700;
      font-size: 23px;
      margin-bottom: 10px;
      color: #F1F1F1;
    }

    .summary {
      overflow: hidden;
      max-height: 64px;
      line-height: 22px;
      margin-bottom: 8px;
      font-size: $summary-font-size;
      font-family: $paragraph-font-family;
      font-weight: 300;
      color: $summary-color;
    }

    .meta {
      margin: 0 !important;
      font-size: 13px;

      .host {
        padding-right: 10px;
        color: $red;
        text-decoration: none;
      }

      .sep {
        margin: 0 15px;
      }

      .diff {
        color: $summary-color;
      }

      .share {
        @include defaulttransition();

        float: right;
        color: white;
        font-size: 18px;
        opacity: 0;
        text-decoration: none;

        &:hover {
          color: $red !important;
          cursor: pointer;
        }

        &.active {
          color: $red !important;
        }
      }

      .share.general {
        margin-left: 5px;
      }

      .share.twitter {
        margin: 0 5px;
      }
      .share .twitter:hover {
        color: $twitter-color !important;
      }
      .share.facebook {
        margin: 0 5px;
      }
      .share .facebook:hover {
        color: $facebook-color !important;
      }
      .share .linkedin {
        margin: 0 5px;
      }
      .share .linkedin:hover {
        color: $linkedin-color !important;
      }
    }
  }

  &:hover {
    @include defaulttransition();

    border-radius: 1px;

    .title {
      /*box-shadow: inset 0 -0.01em 0 0 #444, inset 0 -0.01em 0 0 rgba(255, 255, 255, 0), inset 0 -0.06em 0 0 #444 !important;
      text-decoration: none;
      text-shadow: 0.02em
      0 transparent, -0.02em 0 transparent, 1.5px 0 transparent, -1.5px 0 transparent;*/

      box-shadow: inset 0 -0.07em 0 0 black,
      inset 0 -.1em 0 0 rgba(245, 245, 245, 0),
      inset 0 -.1em 0 0 currentColor;
      text-decoration: none;
      text-shadow: .1em 0 black,
      -0.1em 0 black,
      2.5px 0 black,
      -2.5px 0 black,
      -1.5px 0 black;
    }

    .summary {
      @include defaulttransition();
      color: #CCC;
    }
  }

  &:hover header .meta .share {
    opacity: 1;
  }
}

// Light
.light .tile:hover .summary {
  @include defaulttransition();
  color: $black;
}

//Pic
.pic {
  .tile {

    header {
      margin: 15px;
      position: absolute;
      bottom: 0;
      opacity: 0;
      z-index: 10;

      .title {
        max-height: 64px;
      }

      .summary {
        display: none
      }
    }

    &:hover {
      .overlay {
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
      }

      header {
        opacity: 1;

        .title {
          color: $white !important;
          box-shadow: none !important;
          text-shadow: none !important;
        }

        .title,
        .diff {
          color: white;
        }
      }
    }
  }

  .tile.nopic {
    display: none;
  }
}
