@import "globals";

#feedback-container {
  font-family: 'Muli', sans-serif;
  font-size: 14px;
  min-width: 500px;
  position: relative;

  textarea, input {
    background: none;
    border: 1px solid $grey;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    line-height: 22px;
  }

  #doorbell-powered-by {
    color: $grey;
    display: none !important;
  }
  #doorbell-submit-button {
    font-size: 20px;
    padding: 15px 15px;
    border: none;
    background-color: #B2E2B6;
    width: 100%;
    text-transform: uppercase;

    &:hover {
      background-color: #8FCE94;
    }
  }

  #doorbell form legend {
    border: none;
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    color: $dark-grey;
    font-weight: bold;
    margin-bottom: 20px;
  }

  #doorbell.doorbell-inline #doorbell-container {
    width: 100%;
  }

}
