@import "../styles/globals.scss";

.tile {
  @include defaulttransition();

  display: block;
  position: relative;
  min-width: 100px;
  min-height: 200px;
  margin: 5px 30px 50px;
  overflow: hidden;
  border: 1px solid transparent;

  &.loading {
    min-height: 200px;
  }

  a.overlay {
    z-index: 10;
    position: absolute;
    width: 100%;
    height: calc(100% - 40px);
  }

  .tile-image {
    overflow: hidden;
  }

  img {
    @include defaulttransition();
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);

    &[src="http://www.engraversnetwork.com/files/placeholder.jpg"] {
      display: none;
    }

    opacity: 0;
    border-radius: $border-radius;
    width: 100%;
  }
  img.loaded {
    opacity: 1;
  }

  header {
    @include defaulttransition();

    text-align: left;
    margin: 15px;

    .title {
      display: block;
      max-height: 100px;
      overflow: hidden;
      text-decoration: none;
      letter-spacing: 0px;
      font-family: $heading-font-family;
      font-weight: 700;
      font-size: 24px;
      margin-bottom: 10px;
      color: #F1F1F1;
    }

    .summary {
      overflow: hidden;
      max-height: 63px;
      line-height: 22px;
      margin-bottom: 10px;
      font-size: 14px;
      font-family: $paragraph-font-family;
      font-weight: 300;
      color: $summary-color;
    }

    .meta {
      margin: 0 !important;
      font-size: 14px;

      .host {
        padding-right: 10px;
        color: $red;
        text-decoration: none;
      }

      .sep {
        margin: 0 15px;
      }

      .diff {
        color: $summary-color;
      }

      .share {
        @include defaulttransition();

        float: right;
        color: white;
        font-size: 24px;
        opacity: 0;
        text-decoration: none;

        &:hover {
          color: $red !important;
          cursor: pointer;
        }

        &.active {
          color: $red !important;
        }
      }

      .share.general {
        margin-left: 5px;
      }

      .share.twitter {
        margin: 0 5px;
      }
      .share .twitter:hover {
        color: $twitter-color !important;
      }
      .share.facebook {
        margin: 0 5px;
      }
      .share .facebook:hover {
        color: $facebook-color !important;
      }
      .share .linkedin {
        margin: 0 5px;
      }
      .share .linkedin:hover {
        color: $linkedin-color !important;
      }
    }
  }

  &:hover {
    @include defaulttransition();

    border-radius: 1px;
    background-color: rgba(255, 255, 2555, 0.1);

    .summary {
      @include defaulttransition();
      color: #CCC;
    }
  }

  &:hover img {
    -webkit-transform: scale(1.06);
    -moz-transform: scale(1.06);
    -ms-transform: scale(1.06);
    -o-transform: scale(1.06);
    transform: scale(1.06);
    -webkit-transition-duration: 5s;
    -moz-transition-duration: 5s;
    -ms-transition-duration: 5s;
    -o-transition-duration: 5s;
    transition-duration: 5s;
  }

  &:hover header .meta .share {
    opacity: 1;
  }
}

// Light
.light .tile:hover .summary {
  @include defaulttransition();
  color: $black;
}

//Pic
.pic {
  .tile {
    header {
      position: absolute;
      bottom: 0;
      opacity: 0;
      z-index: 10;

      .title {
        max-height: 64px;
      }

      .summary {
        display: none
      }
    }

    &:hover {
      .overlay {
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
      }

      header {
        opacity: 1;

        .title,
        .diff {
          color: white;
        }
      }
    }
  }

  .tile.nopic {
    display: none;
  }
}
