@import "globals";

#feedback-container {
  font-family: 'Muli', sans-serif;
  font-size: 14px;
  max-width: 500px;
  margin: 20% auto;
  position: relative;

  textarea, input {
    background: none;
    border: 1px solid $grey;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    line-height: 22px;
  }

  #doorbell-powered-by {
    color: $grey;
    display: none !important;
  }
  #doorbell-submit-button {
    font-size: 18px;
    padding: 15px 15px;
    border: none;
    background-color: #B2E2B6;
    width: 50%;
    float: left;

    &:hover {
      background-color: #8FCE94;
    }
  }

  .cancel {
    right: 20%;
    margin: 0 auto;
    position: absolute;
    bottom: 30px;
    z-index: 10;
  }
}
