@import "../styles/globals.scss";

.tile {
  @include defaulttransition();

  display: block;
  position: relative;
  min-width: 100px;
  min-height: 200px;
  margin: 5px 10px 40px;
  overflow: hidden;
  border: 1px solid transparent;

  &.loading {
    min-height: 200px;
  }

  .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .lay {
    @include defaulttransition();
    color: $tile-color;
    display: table;
    background-color: $overlay-hover-color;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    //border-radius: $border-radius;
    z-index: 1;
  }

  .tile-image {
    overflow: hidden;
  }

  img {
      @include defaulttransition();
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);

      &[src="http://www.engraversnetwork.com/files/placeholder.jpg"] {
        display: none;
      }

      opacity:0;
      border-radius: $border-radius;
      width: 100%;
  }
  img.loaded {
    opacity: 1;
  }


  header {
    @include defaulttransition();

    text-align: left;
    margin: 15px;

    .title {
      letter-spacing: 0px;
      font-family: 'Playfair Display', serif;
      font-weight: 900;
      font-size: 24px;
      margin-bottom: 15px;
      color: #F1F1F1;
    }

    .summary {
      overflow: hidden;
      max-height: 60px;
      line-height: 20px;
      margin-bottom: 20px;
      font-size: 15px;
      color: $summary-color;
    }

    .meta {
      font-size: 14px;

      .host {
        padding-right: 15px;
        color: $red;
      }

      .sep {
        margin: 0 15px;
      }

      .diff {
        color: $summary-color;
      }

      .share {
        @include defaulttransition();

        float: right;
        color: white;
        font-size: 20px;
        opacity: 0;

        &:hover {
          color: $red;
        }
      }

    }
  }

  &:hover {
    @include defaulttransition();

    cursor: pointer;
    border: 1px solid $summary-color;
    border-radius: 1px;
  }


  &:hover img {
    -webkit-transform: scale(1.06);
    -moz-transform: scale(1.06);
    -ms-transform: scale(1.06);
    -o-transform: scale(1.06);
    transform: scale(1.06);
  }

  &:hover header .meta .share  {
    opacity: 1;
  }
  /*
        &:hover .overlay .lay {
          opacity: 0.8;

          -webkit-transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
          transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
        }
  */
}
