@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?4ofrly');
    src:    url('../fonts/icomoon.eot?4ofrly#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?4ofrly') format('truetype'),
        url('../fonts/icomoon.woff?4ofrly') format('woff'),
        url('../fonts/icomoon.svg?4ofrly#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-dial-pad:before {
    content: "\e900";
}
.icon-share:before {
    content: "\e901";
}
.icon-text:before {
    content: "\e902";
}
.icon-facebook-with-circle:before {
    content: "\e903";
}
.icon-google-with-circle:before {
    content: "\e904";
}
.icon-twitter-with-circle:before {
    content: "\e905";
}

