@import "globals";
$bg-color: white;

.light {
  background-image: none;
  background-color: $bg-color;

  &.sticky .menu-holder {
    background-color: white !important;
  }

  .navbar {
    li a {
      color: $black;
    }

    .navlink:hover {
      color: $red !important;
    }
  }

  .hamburger {
    span {
      background-color: $black !important;
    }

  }

  .small-logo a{
    background: url("../img/Curatist-logo-Web-Black.png") !important;
    background-size: contain !important;
  }

  .feed-item {
    .title {
      color: $black;
    }

    &:hover {
      .title {
        //@include defaulttransition();
        color: black !important;
        box-shadow: inset 0 -0.07em 0 0 white,
        inset 0 -.1em 0 0 rgba(245, 245, 245, 0),
        inset 0 -.1em 0 0 currentColor;
        text-decoration: none;
        text-shadow: .1em 0 white,
        -0.1em 0 white,
        2.5px 0 white,
        -2.5px 0 white,
        -1.5px 0 white;
      }

      .diff {
        @include defaulttransition();
        color: black !important;
      }

      .share {
        color: black !important;
      }
    }
  }

  .list-item {
    .title {
      color: $black !important;
    }

    &:hover {
      cursor: pointer;
      .title {
        @include defaulttransition();
        box-shadow: inset 0 -0.07em 0 0 white,
        inset 0 -.1em 0 0 rgba(245, 245, 245, 0),
        inset 0 -.1em 0 0 currentColor;
        text-decoration: none;
        text-shadow: .1em 0 white,
        -0.1em 0 white,
        2.5px 0 white,
        -2.5px 0 white,
        -1.5px 0 white;
        color: black !important;
      }

      .summary {
        @include defaulttransition();
        color: $black !important;
      }

      .diff {
        @include defaulttransition();
        color: black !important;
      }

      .share {
        color: black !important;
      }
    }

  }

}
