$bg-color: #F1F1F1;
$black: #444;

.light {
  background-image: url("../img/Curatist-LIGHT-background.png");

  .feed-item {
    .title{
      color: $black;
    }
  }
  .list-item {
    .title{
      color: $black;
    }
  }

  .share {
    color: $black !important;
  }

}