@import "../styles/globals.scss";

.list-item {
  @include defaulttransition();

  display: block;
  position: relative;
  text-align: left;
  margin: 30px 20px 30px 13px;

    .title {
      letter-spacing: 0px;
      font-family: 'Playfair Display', serif;
      font-weight: 900;
      font-size: 24px;
      margin-bottom: 15px;
      color: #F1F1F1;
      text-decoration: none;
      display: block;
    }

    .summary {
      overflow: hidden;
      max-height: 60px;
      line-height: 20px;
      margin-bottom: 10px;
      font-size: 15px;
      color: $summary-color;
    }

    .meta {
      font-size: 14px;

      .host {
        padding-right: 15px;
        color: $red;
      }

      .sep {
        margin: 0 15px;
      }

      .diff {
        color: $summary-color;
      }
    }


  &:hover {
    cursor: pointer;
  }


  &:hover img {
    -webkit-transform: scale(1.07);
    -moz-transform: scale(1.07);
    -ms-transform: scale(1.07);
    -o-transform: scale(1.07);
    transform: scale(1.07);
  }
  /*
        &:hover .overlay .lay {
          opacity: 0.8;

          -webkit-transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
          transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
        }
  */
}
