@import "../styles/globals.scss";

.list-item {
  @include defaulttransition();

  width: 100%;
  display: flex;
  position: relative;
  text-align: left;
  margin: 30px auto 100px auto;
  max-width: 900px;

  .image {

    margin-right: 40px;
    margin-top: 5px;

    img {
      width: 200px;
    }
  }

  .article {
    flex: auto;
  }

  a.overlay {
    z-index: 10;
    position: absolute;
    width: 100%;
    height: calc(100% - 30px);
  }


  .title {
      height: 34px;
      letter-spacing: 0px;
      font-family: $heading-font-family;
      font-weight: 700;
      font-size: 24px;
      margin-bottom: 10px;
      color: #F1F1F1;
      text-decoration: none;
      display: block;
      overflow: hidden;
    }

    .summary {
      overflow: hidden;
      max-height: 63px;
      line-height: 22px;
      margin-bottom: 10px;
      font-size: 14px;
      font-weight: 300;
      color: $summary-color;
    }

    .meta {
      font-size: 14px;
      margin: 0 !important;

      .host {
        padding-right: 15px;
        color: $red;
      }

      .sep {
        margin: 0 15px;
      }

      .diff {
        color: $summary-color;
      }

      .share {
        @include defaulttransition();

        display: inline-block;
        color: white;
        font-size: 18px;
        opacity: 0;
        text-decoration: none;

        &:hover {
          color: $red !important;
          cursor: pointer;
        }

        &.active {
          color: $red !important;
        }
      }

      .share.general {
        margin-left: 15px;
        margin-right: 5px;
      }

      .share.twitter {
        margin: 0 3px;
      },
    .share.twitter:hover {
      color: $twitter-color !important;
    }
      .share.facebook {
        margin: 0 3px;
      },
    .share.facebook:hover {
      color: $facebook-color !important;
    },
    .share.linkedin {
      margin: 0 5px;
    },
    .share.linkedin:hover {
      color: $linkedin-color !important;
    }

    }

  &:hover .meta .share  {
    opacity: 1;
  }

  &:hover {
    .summary {
      @include defaulttransition();
      color: #CCC;
    }
  }

}
