@import "globals";




.sticky .hamburger {
  display: block !important;
}


@media screen and (max-width: 450px) {
  .navbar .small-logo {
    display: none !important;
  }

  .hamb-menu-text {
    display: none !important;
  }
}

@media screen and (max-width: 550px) {
  .navbar .menu li a.navlink{
    padding-right: 5px !important;
    padding-left: 5px !important;
    font-size: 14px !important;
  }

  .navbar li.link-border-left{
    padding-left: 5px !important;
  }

  .navbar li.link-border-right {
    padding-right: 0px !important;
  }

  .navbar .small-logo a{
    width: 63px;
    height:24px;
  }

  .navbar .small-logo {
    top: 2px;
  }

}


@media screen and (max-width: 767px) {
  .navbar .menu {
    padding-left: 0;

    li:nth-child(2),
    li:nth-child(3),
    li:nth-child(4) {
      display: none;
    }

    li.link-border-right {
      border-right: none
    }

    li a {
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  .navbar .button_container {
    left: 45px !important;
  }

  .sticky .navbar .menu {
    padding-left: 0 !important;
    //margin-top: 70px !important;
    margin-left: 45px;
    margin-right: 45px;
  }

  .sticky .navbar .menu.hidden {
    li {
      display: none;
    }
  }

}

@media screen and (min-width: 768px) and (max-width: 979px) {
  .navbar li a {
    padding: 15px 5px !important;
  }
}




