@import "globals";


.mobile-page {
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;

  .underline {
    margin: 0 auto;
  }

  .menuabout {
    .images {
      margin: 0 auto !important;
    }
  }
}