@import "globals";
@import "feedback";

$button-height: 27px;
$button-width: 27px;

.navbar {
  z-index: 1;
  background: $body-background;
  top: 0;

  padding-left: 43px;
  padding-right: 50px;

  .logo {
    float: left;
    width: 100%;
  }

  .logo img{
    margin: 20px auto;
    height: 55px;
  }


  ul.menu {
    text-align: center;
    padding-top: 3px;
    padding-left: 17px;

    .view-switcher{
      float: left;
      font-size: 20px;
      color: $summary-color;
      margin-top: 8px;

      &:hover {
        color: $red;
        cursor: pointer;
      }
    }
  }


  li {
    display: inline-block;

    a {
      font-size: 18px;
      font-family: 'Playfair Display', serif;
      padding: 15px 20px;
      text-decoration: none;
      color: $summary-color;
    }
    a:hover{
      @include defaulttransition();
      color: $dark-grey;
    }
    a.v-link-active{
      color: $red;
    }
  }

  .hamburger {
    float: right;
    margin: 16px;
    display: block;
    font-size: 23px;
    float: right;
    color: $summary-color;
    position: absolute;
    right: 50px;
    top: 100px;
    z-index: 1000;

  }
  .button_container {

    height: 27px;
    width: $button-width;
    cursor: pointer;
    z-index: 1000;
    transition: opacity .25s ease;


    &.active {
      position: fixed;

      .top {
        transform: translateY(11px) translateX(0) rotate(45deg);
        background: $dark-grey;
        z-index: 1000;
        top: -5px;
      }
      .middle {
        opacity: 0;
        background: $dark-grey;
        z-index: 1000;
      }

      .bottom {
        transform: translateY(-11px) translateX(0) rotate(-45deg);
        background: $dark-grey;
        z-index: 1000;
        top: 17px;
      }
    }

    span {
      background: $dark-grey;
      border: none;
      height: 3px;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      transition:  all .35s ease;
      cursor: pointer;

      &:nth-of-type(2) {
        top: 6px;
      }

      &:nth-of-type(3) {
        top: 12px;
      }
    }
  }

}

menu {
  @include defaulttransition();

  font-family: 'Playfair Display', serif;

  margin: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  visibility: hidden;
  z-index: 0;
  background-color: #F1F1F1;

  &.open {
    visibility: visible;
    opacity: 1;
    z-index: 500;
  }

  ul {
    width: 300px;
    position: relative;
    top: 20%;
    float: left;

    &.border {
      border-right: 1px solid $light-grey;
    }

    li {
      font-size: 3.8rem;
      vertical-align: baseline;
      list-style: none;

      a {
        color: $grey;
        text-decoration: none;

        &:hover {
          color: $dark-grey;
        }
      }


      .bordered {
        @include defaulttransition();
        position: relative;

        &:after {
          height: 3px;
          width: 0;
          display: block;
          background: #17191c;
          content: "";
          position: absolute;
          left: 0;
          bottom: -3px;
        }

        &:hover:after {
          @include defaulttransition();
          width: 100%;
          background: $dark-grey;
        }

        &.active:after {
          width: 100%;
          background: $dark-grey;
        }
        &.active {
          color: $dark-grey;
        }

      }

      .suggest {
        background: none;
        border: none;
        border-radius: 100%;
        outline: 0;
        border: 0;

        &:focus, &:active {
          background: none;
          border: none;
        }
      }

    },

    li.layout {
      .layout-selector {
        position: relative;
        margin-left: 250px;
      }


  }
  }
  
  .menucontent {
    float: left;
    position: relative;
    top: 20%;
    padding: 0 0 0 80px;
    display: inline-block;
    max-width: 600px;

    h2 {
      font-size: 2rem;
      color: $dark-grey;
    }
  }
}

