@import "globals";
@import "feedback";
@import "animations";

$button-height: 27px;
$button-width: 27px;

.navbar {
  z-index: 1;
  margin-top: 25px;

  .logo {
    float: left;
    width: 100%;
  }

  .logo .logo-img{
    display: block;
    margin: 0 auto;
    height: 100px;
    width: 220px;
    background-size: contain;
    background-image: url("../img/curatist-logo-000.png");
  }

  .menu-holder {
    width: 100%;
    display: inline-block;
    position: relative;
    text-align: center;
    z-index: 20;
  }
  .small-logo {
    position: absolute;
    right: 0;
    top: -3px;
  }

  .small-logo a{
    position: relative;
    float: left;
    display: inline-block;

    width: 83px;

    height: 31px;
    padding: 0 !important;


    opacity: 0;
    background: url("../img/curatist-glasses-fff.png");
    background-size: contain;
  }

  ul.menu {
    position: relative;
    text-align: center;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    margin-left: 60px;
    margin-right: 60px;

    .view-switcher{
        float: left;
        font-size: 24px;
        color: $summary-color;
        margin-top: 1px;


      &:hover {
        color: $red;
        cursor: pointer;
      }
    }
  }


  li {
    position: relative;
    display: inline-block;
    vertical-align: top;
    a {
      text-align: left;
      letter-spacing: 1px;
      font-size: 16px;
      font-family: $paragraph-font-family;
      font-weight: 300;
      padding: 15px 20px;
      text-decoration: none;
      color: $white;
      text-transform: uppercase;
    }
    a:hover{
      @include defaulttransition();
      color: $red;
    }
    a.v-link-active{
      color: $red;
    }
    a.bold {
      font-weight: 500;
    }
    &.link-border-right {
      padding-right: 10px;
      border-right: 1px solid $summary-color;
    }
    &.link-border-left  {
      padding-left: 10px;
      border-left: 1px solid $summary-color;
    }

    &.theme-switcher {
      margin-top: 3px;
      cursor: pointer;
      position: relative;
      height: 23px;
      width: 30px;
      float: right;
      margin-right:15px;
      background-size: contain;
      background: url("../img/BWicon.png") no-repeat;
    }
  }


  .soon {
    font-size: 10px;
    color: $red;
    left: 85px;
    position: absolute;
    top: -8px;
  }


  .hamburger {
    display: block;
    font-size: 23px;
    color: white;
    z-index: 1000;

  }

  .button_container {
    position: absolute;
    left: 60px;
    top: 30px;
    height: 27px;
    width: $button-width;
    cursor: pointer;
    z-index: 1000;
    transition: opacity .25s ease;

    .hamb-menu-text {
      @include defaulttransition();
      opacity: 0;
      position: absolute;
      top: -4px;
      left: 36px;
      font-family: $paragraph-font-family;
      text-transform: uppercase;
      font-size: 14px;
      color: $black;
      letter-spacing: 2px;
      font-weight: 300;
    }

    &:hover .hamb-menu-text {
      opacity: 1;
      color: $red;
    }

    &:hover span {
      background: $red !important;
    }

    &.active {
      .hamb-menu-text {
        opacity: 0;
      }

      position: fixed;

      .top {
        transform: translateY(11px) translateX(0) rotate(45deg);
        background: $dark-grey;
        z-index: 1000;
        top: -5px;
      }
      .middle {
        opacity: 0;
        background: $dark-grey;
        z-index: 1000;
      }

      .bottom {
        transform: translateY(-11px) translateX(0) rotate(-45deg);
        background: $dark-grey;
        z-index: 1000;
        top: 17px;
      }
    }

    span {
      background: white;
      border: none;
      height: 1px;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      transition:  all .35s ease;
      cursor: pointer;

      &:nth-of-type(2) {
        top: 6px;
      }

      &:nth-of-type(3) {
        top: 12px;
      }
    }
  }

}

.blackLayer {
  @include defaulttransition();
  background-color: #000;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  z-index: 100;
  pointer-events: none;

  &.dark {
      pointer-events: all;
      opacity: .6 !important;
  }
}


menu {
  @include cubictransform(.6s);

  font-family: $heading-font-family;

  margin: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  position: fixed;
  height: 100%;
  width: 250px;
  top: 0;
  left: 0;
  visibility: hidden;
  z-index: 0;
  background-color: white;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(-100%,0,0);
  transform: translate3d(-100%,0,0);

  li {
    @include cubictransform(.2s);

    opacity: 0;
    -webkit-transform: translate3d(-20%,0,0);
    transform: translate3d(-20%,0,0);
  }

  &.open {
    visibility: visible;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    opacity: 1;
    z-index: 500;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);

    &.wide {
      width: 900px;
    }


    li {
      visibility: visible;
      -webkit-backface-visibility: visible;
      backface-visibility: visible;
      opacity: 1;
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);
    }


     li:nth-child(1) {transition-delay:0.1s}
     li:nth-child(2) {transition-delay:0.15s}
     li:nth-child(3) {transition-delay:0.2s}
     li:nth-child(4) {transition-delay:0.25s}
     li:nth-child(5) {transition-delay:0.3s}
     li:nth-child(6) {transition-delay:0.35s}

  }

  ul {
    padding-left: 20px;
    width: 250px;
    position: relative;
    top: 15%;
    float: left;

    &.border {
      border-right: 1px solid $light-grey;
    }



    li {
      font-size: 2em;
      line-height: 1.6em;
      vertical-align: baseline;
      list-style: none;
      opacity: 0;

      a {
        color: $black;
        text-decoration: none;

        &:hover {
          color: $black;
        }
      }


      .suggest {

        background: none;
        border: none;
        border-radius: 100%;
        outline: 0;
        border: 0;

        &:focus, &:active {
          background: none;
          border: none;
        }
      }

    }

    li.layout {
      .layout-selector {
        position: relative;
        margin-left: 250px;
      }
    }

  }

  .menucontent {
    float: left;
    position: relative;
    top: 15%;
    padding: 0 0 0 80px;
    display: inline-block;
    max-width: 450px;


    h2 {
      font-size: 2rem;
      color: $black
    }

    p {
      margin-top: 20px;
      font-size: 14px;
      font-family: $paragraph-font-family;
    }
  }

  .bordered {
    @include defaulttransition();
    position: relative;
    cursor: pointer;

    &:after {
      height: 1px;
      width: 0;
      display: block;
      background: #17191c;
      content: "";
      position: absolute;
      left: 0;
      bottom: 4px;
    }

    &:hover:after {
      @include defaulttransition();
      width: 100%;
      background: $black;
    }

    &.active:after {
      width: 100%;
      background: $black;
    }
    &.active {
      color: $black;
    }
  }
}



.dd {
  width: 98px;

  a {
    display: block;
    padding: 0 20px !important;
  }

  &.open {
    a:nth-child(2),
    a:nth-child(3),
    a:nth-child(4){
      opacity: 1;
    }
  }
}

/* Arrow holder */
.arrowed {
  float: left;
  position: relative;
  display: inline-block;
  height: 15px;
  width: 10px;
}

/* Just centering the examples */
.arrowed div {
  position: absolute;
  top: 0; bottom: 0; left: 5px; right: 0;
  margin: auto;
}

/* -- ARROW 1      -- */

.arrow-1 {
  height: 10px; width: 10px;
  border: 1px solid $red;
  border-width: 2px 2px 0 0;
  transform: rotate(135deg);
}



.dark .logo .logo-img {
  background-image: url("../img/curatist-logo-fff.png");
}

.light .logo .logo-img {
  background-image: url("../img/curatist-logo-000.png");
}

.sticky .menu-holder{
  position: fixed;
  top: 0; left: 0;
  background-color: black;
  z-index: 20;
}

.sicky .menu {
  padding-left: 30px;
  padding-right: 30px;
}

.sticky .logo {
  opacity: 0;
}

.sticky .small-logo a{
  opacity: 1;
  z-index: 20;
}



.sticky .hamburger {
  position: fixed;
  top: 27px;
}
