
.grid {
  max-width: 1400px;
  margin: 30px 70px;
}

.sticky .grid {
  margin: 110px 70px;
}




// ----- Fixed header variation ------
// add 'fix' to body class

.fix .grid {
  height: 100%;
  overflow: auto;
  margin: 30px 50px;
  position: fixed;
}



/* Salvattore */

.column {
  float: left;
}
.size-1of5 {
  width: 20%;
}

.size-1of4 {
  width: 25%;
}
.size-1of3 {
  width: 33.333%;
}
.size-1of2 {
  width: 50%;
}

/* Configurate salvattore with media queries */
@media screen and (max-width: 767px) {
  .grid,
  .grid .sticky {
    margin-left: 30px !important;
    margin-right: 30px  !important;
  }

  .navbar .hamburger {
    right: 45px !important;
  }

  .navbar .small-logo a {
    left: 55px !important;
  }

  [data-columns]::before {
    content: '1 .column';
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .grid,
  .grid .sticky {
    margin-left: 30px  !important;
    margin-right: 30px  !important;
  }

  .navbar .hamburger {
    right: 45px !important;
  }

  .navbar .small-logo a {
    left: 55px !important;
  }



  [data-columns]::before {
    content: '2 .column.size-1of2';
  }
}

@media screen and (min-width: 1200px) {
  [data-columns]::before {
    content: '3 .column.size-1of3';
  }

}

