@import "globals";

.search-view {
  margin-top: 60px;

  color: #D8D8D8;
  text-align: center;

  .promo-text{
    margin-top: 40px;
  }
}

#test .gsc-adBlock {
  display: none !important;
}

.light .search-view {
  color: $black;
}

