.square {
  .wrapper{
    margin:3em 0;
  }

  a.frame,a.frame:visited,a.frame:hover,a.frame:active{
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    position:relative;
    transition:0.5s color ease;
    text-decoration:none;
    color:#81b3d2;
    font-size:2.5em;
  }
  a.frame:hover{
    color:#d73444;
  }
  a.frame:before,a.frame:after{
    content: "";
    transition:0.5s all ease;
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    position:absolute;
  }
  a.frame:before{
    top:-0.25em;
  }
  a.frame:after{
    bottom:-0.25em;
  }
  a.frame:before,a.frame:after{
    height:5px;
    height:0.35rem;
    width:0;
    background:#d73444;
  }

  a.frame:hover:before,a.after:hover:after{
    width:100%;
  }

    box-sizing:border-box;
    margin-left:-0.4em;
    position:relative;
    font-size:2.5em;
    overflow:hidden;

  a.frame{
    position:static;
    font-size:100%;
    padding:0.2em 0.4em;
  }
  &:before,&:after{
    content: "";
    box-sizing:border-box;
    transition:0.25s all ease;
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    position:absolute;
    width:5px;
    width:0.35rem;
    height:0;
    background:#d73444;
  }
  &:before{
    left:0;
    bottom:-0.2em;
  }
  &.individual:before{
    transition-delay:0.6s;
  }
  &:after{
    right:0;
    top:-0.2em;
  }
  &.individual:after{
    transition-delay:0.2s;
  }
  & a:before{
    left:0;
    transition:0.25s all ease;
  }
  & a:after{
    right:0;
    transition:0.25s all ease;
  }
  &.individual a:after{
    transition:0.25s all ease 0.4s;
  }
  &:hover:before,&:hover:after{
    height:calc(100% + 0.4em);
  }
  &:hover a:before,&:hover a:after{
    width:100%;
  }
}
