body {
  font-family: Poppins, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'Playfair Display', sans-serif;
  color: #444;
  font-size: 38px;
  line-height: 44px;
  font-weight: 900;
  text-align: center;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'Playfair Display', sans-serif;
  color: #000;
  font-size: 1em;
  line-height: 50px;
  font-weight: 400;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #444;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #6d6d6d;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}

p {
  margin-bottom: 10px;
  color: #444;
  font-size: 16px;
  line-height: 24px;
}

blockquote {
  margin-bottom: 10px;
  padding: 10px 20px;
  border-left: 5px solid #e2e2e2;
  font-family: 'Playfair Display', sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-style: italic;
}

.nav-logo {
  display: block;
  width: 125px;
  height: 80px;
  background-image: url('../images/Curatist-logo-000.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.cover {
  background-image: url('../images/bg--backgrounded-macbook.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.cover-container {
  display: block;
  margin-bottom: 0px;
  padding-top: 20px;
}

.feed.section {
  padding-top: 200px;
  padding-bottom: 200px;
}

.icon-row {
  margin-top: 30px;
  margin-bottom: 30px;
}

.feed-block {
  display: block;
  margin: 94px auto auto;
}

.feed-block-title {
  display: block;
  text-align: left;
}

.feed-block-title.white-color-text {
  color: #f1f1f1;
}

.feed-block-title.big {
  margin-bottom: 30px;
  font-family: Poppins, sans-serif;
  font-size: 5em;
  line-height: 1em;
  font-weight: 600;
}

.feature-block {
  margin-top: 60px;
}

.feature-block.white-color-text {
  color: #f1f1f1;
}

.inspiration.section {
  padding-top: 200px;
  padding-bottom: 200px;
}

.flexible.section {
  padding-top: 200px;
  padding-bottom: 200px;
}

.center {
  margin-top: 0px;
  color: #6d6d6d;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
}

.center.h2-black {
  font-weight: 900;
}

.center.better-life {
  margin-top: 120px;
  margin-bottom: 40px;
  font-family: 'Playfair Display', sans-serif;
  color: #2c3739;
  font-size: 1.5rem;
  line-height: 2.3rem;
  font-weight: 700;
}

.center.gap {
  margin-top: 60px;
  color: #000;
}

.light {
  background-image: -webkit-linear-gradient(167deg, #a74040, #b86666);
  background-image: linear-gradient(283deg, #a74040, #b86666);
}

.light.section {
  padding-top: 300px;
  padding-bottom: 300px;
}

.nav-container {
  background-color: #fff;
}

.section {
  padding: 100px 10px;
}

.section.cover {
  display: block;
  max-width: 1500px;
  margin-top: 70px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #fff;
  background-image: -webkit-linear-gradient(270deg, #fff, transparent 65%), -webkit-linear-gradient(270deg, hsla(0, 0%, 100%, .7), hsla(0, 0%, 100%, .7)), url('../images/MANHATTAN.jpg');
  background-image: linear-gradient(180deg, #fff, transparent 65%), linear-gradient(180deg, hsla(0, 0%, 100%, .7), hsla(0, 0%, 100%, .7)), url('../images/MANHATTAN.jpg');
  background-position: 0px 0px, 0px 0px, 50% 0px;
  background-size: auto, auto, contain;
  background-attachment: scroll, scroll, scroll;
}

.section.center {
  padding-top: 130px;
  padding-bottom: 130px;
}

.section.center.layouts {
  background-color: #fff;
}

.section.center.extension {
  margin-right: 30px;
  margin-left: 30px;
  padding-top: 130px;
  padding-bottom: 130px;
  background-color: #dc8a8a;
  background-image: -webkit-radial-gradient(circle farthest-corner at 50% 50%, #dc8a8a 36%, #f87272);
  background-image: radial-gradient(circle farthest-corner at 50% 50%, #dc8a8a 36%, #f87272);
  background-position: 0px 0px;
  background-size: auto;
  color: #dc8a8a;
}

.section.center.intro {
  padding-top: 130px;
  padding-bottom: 130px;
  background-image: -webkit-radial-gradient(circle farthest-corner at 50% 50%, transparent 51%, #000), -webkit-linear-gradient(270deg, rgba(26, 14, 14, .55), rgba(26, 14, 14, .55)), url('../images/CITY-opt.jpg');
  background-image: radial-gradient(circle farthest-corner at 50% 50%, transparent 51%, #000), linear-gradient(180deg, rgba(26, 14, 14, .55), rgba(26, 14, 14, .55)), url('../images/CITY-opt.jpg');
  background-position: 0px 0px, 0px 0px, 50% 50%;
  background-size: auto, auto, cover;
  background-attachment: scroll, scroll, scroll;
}

.section.center.intro.tile-bg {
  padding-top: 130px;
  padding-bottom: 130px;
  background-image: -webkit-radial-gradient(circle farthest-corner at 50% 50%, transparent 33%, #000), -webkit-linear-gradient(270deg, rgba(26, 14, 14, .6), rgba(26, 14, 14, .6)), url('../images/MANHATTAN.jpg');
  background-image: radial-gradient(circle farthest-corner at 50% 50%, transparent 33%, #000), linear-gradient(180deg, rgba(26, 14, 14, .6), rgba(26, 14, 14, .6)), url('../images/MANHATTAN.jpg');
  background-position: 0px 0px, 0px 0px, 50% 50%;
  background-size: auto, auto, cover;
  background-attachment: scroll, scroll, scroll;
}

.section.features.center {
  background-color: #fff;
  font-size: 1rem;
}

.section.intro.center {
  background-image: -webkit-radial-gradient(circle farthest-corner at 50% 50%, transparent 51%, #000), -webkit-linear-gradient(270deg, rgba(26, 14, 14, .55), rgba(26, 14, 14, .55)), url('../images/screenshot_inspiration_lowres.jpg');
  background-image: radial-gradient(circle farthest-corner at 50% 50%, transparent 51%, #000), linear-gradient(180deg, rgba(26, 14, 14, .55), rgba(26, 14, 14, .55)), url('../images/screenshot_inspiration_lowres.jpg');
  background-position: 0px 0px, 0px 0px, 50% 52%;
  background-attachment: scroll, scroll, scroll;
}

.title {
  margin-top: 0px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  font-family: 'Playfair Display', sans-serif;
  color: #2c3739;
  font-size: 3.5rem;
  line-height: 1.1em;
  font-weight: 900;
  text-align: center;
}

.cta {
  margin: 40px 20px;
  padding: 20px 30px 16px;
  border: 2px solid #dc8a8a;
  border-radius: 2px;
  background-color: #dc8a8a;
  background-image: none;
  background-size: auto;
  background-repeat: repeat;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  text-transform: capitalize;
}

.cta:hover {
  border-color: #975151;
  background-color: #975151;
  color: #fff;
}

.cta.small {
  padding-left: 31px;
}

.cta.light-button {
  border-color: #e6e6e6;
  background-color: transparent;
  color: #444;
  text-transform: none;
}

.cta.light-button:hover {
  color: #fff;
}

.cta.light-button.platform {
  border-color: #f5f5f5;
  color: #f5f5f5;
}

.cta.light-button.platform:hover {
  border-color: #2c3739;
  background-color: #2c3739;
  color: #dc8a8a;
}

.cta.light-button.platform.noborder {
  border-style: none;
}

.cta.contact {
  display: inline-block;
  margin-top: 140px;
  border-style: solid;
  background-color: transparent;
  color: #fff;
  text-decoration: none;
  text-transform: none;
}

.cta.contact:hover {
  background-color: #dc8a8a;
  background-image: none;
}

.cta.chrome-ext {
  padding-left: 60px;
  border-width: 2px;
  border-color: #2c3739;
  background-color: transparent;
  background-image: url('../images/chrome.png');
  background-position: 18px 50%;
  background-size: 25px;
  background-repeat: no-repeat;
  color: #2c3739;
}

.cta.chrome-ext:hover {
  border-color: #dc8a8a;
  background-color: #dc8a8a;
  color: #fff;
}

.cta.glassed {
  padding-bottom: 14px;
  padding-left: 60px;
  background-image: url('../images/Curatist-Glasses-fff.png');
  background-position: 12px 52%;
  background-size: 40px;
  background-repeat: no-repeat;
  color: #f5f5f5;
  font-weight: 400;
}

.flexibel-text {
  margin-top: 0px;
  margin-bottom: 90px;
}

.feature-image {
  display: block;
  max-width: 90%;
  margin-right: auto;
  margin-left: auto;
  clear: none;
  opacity: 1;
  -webkit-transform: translate(0px, -120px);
  -ms-transform: translate(0px, -120px);
  transform: translate(0px, -120px);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition: opacity 200ms ease, opacity 200ms ease;
  transition: opacity 200ms ease, opacity 200ms ease;
}

.white {
  margin-bottom: 50px;
  color: #fff;
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 700;
  text-transform: none;
}

.white.title-playfair {
  font-family: 'Playfair Display', sans-serif;
  font-size: 28px;
  font-weight: 400;
}

.nav-link {
  margin-top: 0px;
  padding-top: 29px;
  font-family: Poppins, sans-serif;
  font-size: 0.8rem;
  line-height: 1.9rem;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.nav-link:hover {
  border-style: none;
  border-width: 1px;
  border-bottom-color: #dc8a8a;
  color: #dc8a8a;
}

.nav-link.w--current {
  color: #dc8a8a;
}

.paddinged {
  margin-top: 30px;
  margin-bottom: 60px;
  padding-bottom: 30px;
}

.paddinged.white {
  margin-top: 60px;
  margin-bottom: 0px;
  color: #fff;
  font-size: 2.5rem;
  line-height: 3.2rem;
  font-weight: 700;
}

.feature-row {
  margin-top: 100px;
}

.layout-slider {
  margin-top: 100px;
  background-color: transparent;
}

.arrow {
  margin-top: 186px;
  color: #dc8a8a;
}

.arrow-icon {
  color: #dc8a8a;
}

.extension-row {
  margin-top: 100px;
}

.extension-p {
  padding-right: 15%;
  padding-left: 15%;
  color: #fff;
}

.extension-p.white {
  height: 109px;
  margin-top: 25px;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 1rem;
  line-height: 1.6rem;
  font-weight: 400;
}

.extension-p.ext-p-white {
  color: #fff;
}

.p-layout {
  margin-top: 1px;
  padding-bottom: 0px;
  font-family: Poppins, sans-serif;
  color: #6d6d6d;
  font-size: 1rem;
  line-height: 2rem;
  font-weight: 400;
}

.p-layout.coral {
  color: #dc8a8a;
}

.red {
  color: #dc8a8a;
}

.separator {
  display: block;
  width: 25px;
  height: 2px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  background-color: #dc8a8a;
}

.separator.thin {
  height: 1px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.separator.thin.white-sep {
  background-color: #fff;
}

.h3 {
  font-size: 1.2rem;
  line-height: 1.75rem;
  font-weight: 400;
  text-align: center;
}

.h2-black {
  color: #2c3739;
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 900;
}

.h2-black.h2-white {
  color: #fff;
  font-size: 2.5rem;
}

.h3-caps {
  font-family: 'Playfair Display', sans-serif;
  color: #353535;
  font-weight: 700;
  letter-spacing: 0px;
  text-transform: capitalize;
}

.p {
  font-size: 16px;
  font-weight: 400;
}

.p.p-3col {
  margin-right: 10px;
  margin-left: 10px;
  padding-right: 15px;
  padding-left: 10px;
  font-size: 15px;
}

.h5 {
  font-weight: 400;
  text-transform: uppercase;
}

.nav-layouts {
  font-size: 12px;
  letter-spacing: 0px;
}

.p-white {
  margin-top: 50px;
  font-family: Poppins, sans-serif;
  color: #fff;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0px;
}

.icon-glasses {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
}

.icon-glasses.intro-glasses {
  margin-top: 20px;
}

.layout-type {
  display: block;
  margin-top: 38px;
  padding-top: 0px;
  font-family: 'Playfair Display', sans-serif;
  color: #2c3739;
  font-size: 22px;
  line-height: 2.2rem;
  font-weight: 700;
  text-transform: capitalize;
}

.layout-title {
  margin-top: 5px;
  font-family: 'Playfair Display', sans-serif;
  color: #a5a5a5;
  font-style: normal;
}

.layout-mockup {
  display: block;
  max-height: 400px;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
}

.ipad {
  display: block;
  height: 242px;
  margin-top: 30px;
  margin-left: 90px;
}

.imac {
  height: 400px;
  margin-top: 30px;
}

.h3-caps-white {
  font-family: 'Playfair Display', sans-serif;
  color: #fff;
  font-size: 1.7rem;
  font-weight: 700;
  text-transform: capitalize;
}

.email {
  margin-top: 114px;
  color: #2c3739;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
}

.social-icon {
  height: 50px;
  margin-top: 10px;
  margin-left: 100px;
  float: left;
  text-align: center;
}

.social-icon.icon-2-center {
  margin-left: 300px;
}

.social-text {
  margin-top: 20px;
  margin-left: 10px;
  padding-top: 0px;
  float: left;
  color: #2c3739;
  font-size: 1.3rem;
  font-weight: 600;
}

.layout-black {
  margin-top: 40px;
  color: #000;
}

.media-img {
  max-height: 100px;
}

.p-3col {
  margin-right: 5px;
  margin-left: 5px;
  padding-right: 15px;
  padding-left: 15px;
  font-size: 14px;
}

.layout-row {
  margin-top: 100px;
}

.slide {
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-color: #fff;
  text-align: center;
}

.slider {
  display: block;
  height: 586px;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.slide-item {
  background-color: #fff;
  text-align: center;
}

.share-row {
  margin-top: 60px;
  margin-bottom: 0px;
}

.footer {
  background-color: #2c3739;
  color: #49b8cc;
}

.footer-img {
  width: 125px;
  float: left;
  text-align: center;
}

.footer-cont {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.footer-by {
  padding-top: 10px;
  color: #a0a0a0;
}

.name {
  color: #a5a5a5;
}

.slide-nav {
  display: inline-block;
  margin-top: 0px;
  padding-top: 8px;
  background-color: transparent;
  color: #dc8a8a;
  font-size: 14px;
  line-height: 12px;
}

.cover-small {
  text-align: center;
}

.video {
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .58), rgba(0, 0, 0, .58));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .58), rgba(0, 0, 0, .58));
  color: #fff;
}

.about-curatist {
  margin-top: 170px;
  padding-right: 30%;
  padding-left: 20px;
  color: #fff;
}

.about-h1 {
  color: #fff;
  font-size: 3em;
  line-height: 51px;
  font-weight: 700;
  text-align: left;
}

.about-h3 {
  color: #dc8a8a;
  font-size: 20px;
  font-weight: 500;
}

.about-curatist-desc.section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.about-h2 {
  color: #2c3739;
  font-size: 3em;
  line-height: 50px;
  font-weight: 900;
  text-align: center;
}

.about-p {
  padding-right: 50px;
  padding-left: 50px;
  color: #6d6d6d;
  font-size: 18px;
  line-height: 31px;
  text-align: center;
}

.about-us-div {
  padding-top: 36px;
  padding-bottom: 300px;
  padding-left: 20px;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/about-us2.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/about-us2.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.about-us-h2 {
  margin-top: 0px;
  color: #fff;
  font-size: 3em;
  font-weight: 700;
  text-align: left;
  text-decoration: none;
}

.about-us-h3 {
  margin-top: 20px;
  color: #dc8a8a;
  font-size: 20px;
  font-weight: 500;
}

.about-us-image {
  display: block;
  max-width: 50%;
  margin-right: auto;
  margin-left: auto;
}

.about-us-row {
  margin-top: 60px;
}

.about-us-h4 {
  font-family: 'Playfair Display', sans-serif;
  color: #2c3739;
  font-size: 26px;
  font-weight: 900;
}

.name-line {
  margin-bottom: 26px;
}

.image-section {
  margin-bottom: 200px;
}

.image-section.section {
  margin-bottom: 100px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.contact-div {
  margin-bottom: 100px;
  padding-top: 36px;
  padding-bottom: 20px;
  padding-left: 20px;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/black-and-white-city-man-people (2).jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/black-and-white-city-man-people (2).jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, 960px;
}

.newgrey {
  color: #979b9c;
  font-size: 1rem;
}

.navbar {
  background-color: #fff;
}

.contact-form-row {
  margin-bottom: 30px;
}

.textarea {
  min-height: 200px;
  padding-top: 20px;
  font-size: 1rem;
}

.form-input {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 1rem;
  line-height: 20px;
}

.label {
  margin-bottom: 10px;
  color: #2c3739;
  font-size: 1rem;
  letter-spacing: 1px;
}

.submit {
  display: block;
  width: 60%;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid #979b9c;
  background-color: #fff;
  color: #2c3739;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.submit:hover {
  background-color: #dc8a8a;
  color: #fff;
}

.form-wrap {
  margin-top: 80px;
}

.color-white {
  color: #fff;
}

.link-text {
  color: #dc8a8a;
}

.big-link {
  direction: ltr;
  font-family: 'Playfair Display', sans-serif;
  color: #dc8a8a;
  font-size: 36px;
  font-weight: 700;
  text-decoration: underline;
}

.link-div.center {
  margin-top: 100px;
  margin-bottom: 100px;
}

.contact-name {
  font-family: 'Playfair Display', sans-serif;
  color: #2c3739;
  font-size: 26px;
  font-weight: 900;
  text-align: center;
}

.contact-mailto {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 0px;
  color: #dc8a8a;
  text-align: center;
  text-decoration: none;
}

.contact-mailto.nopadding {
  margin-top: 0px;
  margin-bottom: 0px;
}

.contact-name-cont {
  margin-top: 21px;
  margin-bottom: 51px;
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;
}

.contact-name-social {
  max-width: 30px;
  margin-right: 10px;
  padding-right: 0px;
  padding-left: 0px;
}

.review-name {
  margin-left: 40px;
  font-weight: 500;
}

.qoute-item {
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 0px;
}

.press {
  margin-top: 79px;
  margin-bottom: 0px;
}

.colored-mailto {
  color: #dc8a8a;
}

.cover-img {
  margin-top: 40px;
  padding-top: 20px;
}

.grad-bg {
  background-image: none;
}

.red-link {
  background-color: #fff;
  color: #dc8a8a;
}

.h3-bold {
  margin-bottom: 15px;
  color: #2c3739;
  font-weight: 600;
}

.h3-bold.h3-b-white {
  color: #fff;
}

.platform-img {
  max-width: 40px;
  margin-bottom: 20px;
}

.platform-img.platform-img-white {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.platform-text-color {
  color: #2c3739;
}

.platform-text-color.h4-white {
  color: #f5f5f5;
}

.footer-link {
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
  color: #d3d3d3;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-links {
  padding-top: 20px;
  float: right;
  clear: none;
}

.mail {
  display: block;
  padding-top: 20px;
  padding-left: 10px;
  float: right;
  color: #dc8a8a;
  text-align: center;
}

.h2-white {
  color: #fff;
  font-size: 3em;
}

.mail-list {
  margin-top: 40px;
  font-family: Poppins, sans-serif;
  color: #f5f5f5;
}

.review-quote {
  border-style: none;
}

.social-row {
  margin-bottom: 50px;
}

.about-link {
  color: #dc8a8a;
}

html.w-mod-js *[data-ix="initial-load"] {
  opacity: 0;
}

html.w-mod-js *[data-ix="fade-up"] {
  opacity: 0;
  -webkit-transform: translate(0px, 30px);
  -ms-transform: translate(0px, 30px);
  transform: translate(0px, 30px);
}

html.w-mod-js *[data-ix="fade-up-delayed-1"] {
  opacity: 0;
  -webkit-transform: translate(0px, 30px);
  -ms-transform: translate(0px, 30px);
  transform: translate(0px, 30px);
}

html.w-mod-js *[data-ix="fade-up-delayed-2"] {
  opacity: 0;
  -webkit-transform: translate(0px, 30px);
  -ms-transform: translate(0px, 30px);
  transform: translate(0px, 30px);
}

html.w-mod-js *[data-ix="fade-up-on-scroll"] {
  opacity: 0;
  -webkit-transform: translate(0px, 30px);
  -ms-transform: translate(0px, 30px);
  transform: translate(0px, 30px);
}

html.w-mod-js *[data-ix="fade-up-on-scroll-delayed-1"] {
  opacity: 0;
  -webkit-transform: translate(0px, 30px);
  -ms-transform: translate(0px, 30px);
  transform: translate(0px, 30px);
}

html.w-mod-js *[data-ix="fade-up-on-scroll-delayed-2"] {
  opacity: 0;
  -webkit-transform: translate(0px, 30px);
  -ms-transform: translate(0px, 30px);
  transform: translate(0px, 30px);
}

@media (max-width: 991px) {
  .cover-container {
    padding-top: 75px;
    text-align: center;
  }
  .section.cover {
    padding-bottom: 0px;
    background-image: none;
    background-size: auto;
    background-repeat: repeat;
  }
  .section.features.center {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .social-text {
    display: block;
    width: 100%;
    float: left;
    text-align: center;
  }
}

@media (max-width: 479px) {
  body {
    font-size: 14px;
  }
  h4 {
    font-size: 14px;
    line-height: 23px;
  }
  .nav-logo {
    width: 110px;
    margin-left: 10px;
    padding-left: 10px;
  }
  .cover-container {
    margin-bottom: 20px;
    padding-top: 30px;
    padding-right: 10px;
    padding-left: 0px;
  }
  .center {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
  }
  .center.better-life {
    margin-top: 52px;
    font-size: 1.1rem;
    line-height: 1.7rem;
    font-weight: 400;
  }
  .section {
    padding: 30px 20px;
  }
  .section.cover {
    margin-top: 30px;
    margin-left: auto;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-left: 20px;
    background-image: none;
    background-size: auto;
    background-repeat: repeat;
  }
  .section.center {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .section.center.layouts {
    padding: 30px 20px;
  }
  .section.center.extension {
    margin-right: 0px;
    margin-left: 0px;
    padding: 30px 20px;
  }
  .section.center.intro {
    padding-left: 10px;
  }
  .section.center.intro.tile-bg {
    padding: 30px 20px;
  }
  .section.features.center {
    margin-right: 0px;
    margin-left: 0px;
    padding: 30px 20px;
  }
  .section.intro.center {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .title {
    font-size: 2.5em;
    line-height: 1.2em;
  }
  .cta {
    display: block;
    margin-right: 20px;
    margin-left: 20px;
    text-align: center;
  }
  .cta.glassed {
    max-width: 250px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 10px;
    padding-left: 58px;
  }
  .white {
    font-size: 1.6rem;
    line-height: 1.6em;
  }
  .paddinged.white {
    margin-top: 30px;
    padding-bottom: 0px;
    font-size: 1.6em;
    line-height: 1.4em;
  }
  .feature-row {
    margin-top: 50px;
  }
  .arrow {
    margin-top: 96px;
  }
  .extension-row {
    margin-top: 40px;
  }
  .extension-p {
    font-size: 14px;
  }
  .red {
    text-align: center;
  }
  .h2-black {
    font-size: 1.8rem;
    line-height: 2.3rem;
  }
  .icon-glasses.intro-glasses {
    max-width: 70px;
    margin-top: 31px;
  }
  .imac {
    display: inline-block;
    width: 100%;
    height: auto;
    max-width: 100%;
  }
  .imac.kindle {
    width: 100%;
    height: auto;
    max-width: 220px;
  }
  .social-icon {
    display: block;
    margin-right: auto;
    margin-left: auto;
    float: none;
  }
  .social-text {
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    float: none;
    clear: none;
  }
  .slider {
    height: 400px;
  }
  .footer-img {
    display: block;
    width: 110px;
    margin-right: auto;
    margin-left: auto;
    float: none;
  }
  .column {
    margin-bottom: 30px;
  }
  .about-curatist {
    margin-top: 52px;
  }
  .about-h1 {
    line-height: 45px;
  }
  .about-curatist-desc.section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .about-h2 {
    font-size: 1.8rem;
    line-height: 2.3rem;
  }
  .about-p {
    padding-right: 20px;
    padding-left: 20px;
    font-size: 16px;
    line-height: 26px;
  }
  .about-us-h2 {
    line-height: 45px;
  }
  .about-us-h4 {
    text-align: center;
  }
  .big-link {
    font-size: 26px;
  }
  .link-div.center {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .contact-name {
    font-size: 20px;
    line-height: 10px;
  }
  .contact-mailto {
    font-size: 14px;
  }
  .contact-name-cont {
    padding-right: 0%;
    padding-left: 0%;
  }
  .press {
    margin-top: 20px;
  }
  .colored-mailto {
    display: block;
    overflow: visible;
    width: 100%;
    margin-top: 20px;
    float: left;
    text-align: center;
  }
  .cover-img {
    margin-top: 20px;
  }
  .platform-img {
    max-width: 40px;
    margin-bottom: 0px;
  }
  .about {
    font-size: 14px;
  }
  .about.w--open {
    padding-top: 20px;
    padding-bottom: 25px;
    background-color: #dc8a8a;
  }
  .nav-hamb {
    margin-top: 10px;
    font-size: 25px;
  }
  .nav-menu {
    background-color: #f5f5f5;
  }
  .footer-links {
    float: none;
  }
  .mail {
    display: inline-block;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  .swipe-hand {
    display: block;
    margin-top: 14px;
    margin-right: auto;
    margin-left: auto;
  }
}

